#### Panel configuration

## admin username
## like: "admin" or "Jksd45"
PANEL_USERNAME="user"

## admin password
## like: "gewro" or "Nsdf8"
PANEL_PASSWORD="pass"

## panel host
## http or https, with port and path if needed  
## like: "http://domain.top:2053/dashboard"
PANEL_HOST="http://localhost:8080"